<header class="header">
    <img src="assets/img/logofinal1.png" alt="logoverduleria" class="logo_verdu" width="682" height="260">
<div class="contenedor">
    <input class="search" autocomplete="off" type="search" name="bar" placeholder="¿Qué estás buscando?" aria-label="¿Qué estás buscando?">
    <span class="icon">
        <i class="fa fa-search"></i>
    </span>
</div>
</header>
<div class="menu">
    <nav class="menu_ul">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Carrito</a></li>
            <li class="right"><a href="#">Iniciar Sesion</a></li>
            <li class="right"><a href="#">Registrarse</a></li>
        </ul>
    </nav>
</div>
