
<div class="card">
    <div class="caption">
        <div class="title">{{dataEntrante.titulo}}</div>
        <hr>
        <img class="image" [src]="dataEntrante.image" alt="">
        <div class="sub-title">{{dataEntrante.subtitulo}}</div>
        <div class="peso">
          <input type="number" [(ngModel)]="peso" step="0.5" min="0" max="10" class="peso-input">
          </div>
        <br>
        <button class="carrito " (click)="AgregarACarrito()"><i class="fa fa-shopping-cart"></i>Añadir a Carrito</button>
    </div>
</div>


